:root {
    --connected: lightgreen;
    --disconnected: red;
    --alert: orange;
    --status: yellow;
}

.status-container {
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.bullet {
    margin: 0px;
    margin-right: 0.45rem;
    padding: 0px;
    display: inline-block;
    vertical-align: baseline;

    background-color: var(--status);
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    position: relative;
    top: 1.25px;
}

.connected {
    background-color: var(--connected);
}

.disconnected {
    background-color: var(--disconnected);
}

.alert {
    background-color: var(--alert);
}
