@import './Defaults.css';

h1 {
  text-align: center;
  background-color: var(--ghost-hover);
}

.flight-form {
  margin: 3rem auto;
  width:auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--ghost-hover);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.flight-form input,
.flight-form select,
.flight-form textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--ghost);
  color: var(--primary);
}

.flight-form input:focus,
.flight-form textarea:focus,
.flight-form select:focus  {
  outline: none;
  background: #ebebeb;
  border-color: rgba(0, 0, 0, 0.2);
}

.flight-form input:disabled {
  color: var(--quiet);
}

.section-label {
  font-weight: bold;
}

.section-label-2 {
  font-weight: bold;
  padding-top: 2rem;
}

.flight-form label {
  /* font-weight: bold; */
  font-size: 0.9rem;
  margin-top: 1rem;
}

.form-input-btn {
  display: flex;
  justify-content: center;
}

button {
  margin: 1rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--button-standard-text);
  background-color: var(--button-standard-bg);
}

button:hover {
  color: var(--button-standard-text-hover);
  background-color: var(--button-standard-bg-hover);
}

.form-1-form-2 {
  display: flex;
  flex-direction: column;
  width:50%;
}

.form-3-form-4 {
  display: flex;
  flex-direction: column;
  width:50%;
}


.form-1,
.form-2 {
  margin: auto;
  width: 90%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.form-1-form-2-individual input,
.form-1-form-2-individual select,
.form-1-form-2-individual textarea {
  display: flex;
  align-self: center;
  width: 90%;
  margin-left: 1.5rem;
}

.form-1-form-2-individual label {
  width: 90%;
  margin-left: 1rem;
  /* margin-top: 1rem; */
}

.form-3 {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.form-4 {
  display: flex;
  align-self:flex-start;
  align-content: center;
  margin-top: 3rem;
  background: var(--ghost);
  width: 90%;
  height: 100%
}

.form-3 label {
  margin-right: 1rem;
}

.form-3 input {
  width: fit-content;
}
.individual-flight-plan {
  display:flex;
  flex-direction: row;
  margin-top: 1.5rem
  /* justify-content: center; */
}
.individual-flight-plan input {
  width: auto;
}

.individual-flight-plan label {
  display: flex;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.videoUpload {
  margin-bottom:1rem
}

.videoUpload label {
  width: 90%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.videoUpload input {
  margin-left: 1.3rem;
  background: none;
  border: none;
}

