.leaflet-container {
    height: 25vw;
    width: 25vw;
    --button-standard-bg: none;
}

.map-container {
    /* background-color: rgb(192, 192, 192); */
    margin: 0rem;
    padding: 0rem;
    width: 25vw;

    background-color: var(--ghost);
    border-radius: var(--border-radius-small);
}

.map-instructions {
    margin: 0rem;
    padding: 1rem;

    background-color: var(--ghost);
    border-radius: var(--border-radius-small);
}

img {
    border: none;
}

.delete-button {
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 2rem;
    border: none;
}
