@import './Defaults.css';

.table-container {
    /* width: calc(100vw - var(--padding) - var(--padding)); */
    /* background: red; */
    width: calc(100vw - var(--padding) - var(--padding));
    /* width: calc(100vw - 4rem); */
}

table {
    margin-left: 0;
    padding-left: 0;
    /* width: 100%;
    background: yellow; */
}

.full-width-table {
/* background: green;
width: 100%; */

}

th,
td {
    border-bottom: 1px solid var(--ghost-hover);
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

tbody tr:hover {
    background-color: var(--ghost);
}

.workorder-header {
    font-size: var(--h4);
}

.filter-search-box-cell {
}
.filter-search-box {
    border-radius: 0;
    padding: var(--padding-tiny);

    font-size: var(--body);

    background: white;
    color: black;
    outline: 0;
    border-width: 0 0 var(--mini);
    border-color: var(--quiet);
    width: 15rem;
    height: 2.5rem;
}

.filter-search-box::placeholder {
    font-size: var(--body);
    color: var(--quiet);
}

/* PT Previous table styles */
/* .table {
    display: inline-block;
    border-spacing: 0;
    border: 1px solid black;
}    

th,td {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1rem;
    border-radius: 0;
  
    position: relative;
}

tbody tr:hover {
    background-color: lightgray;
    text-align: center
} */

/* makes the fancy blue highlight on table to show the column is resizable */
.resizer {
    display: inline-block;
    /* background: blue; */
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, var(--ghost-hover) 23%, var(--ghost-hover) 36%, rgba(255,255,255,0) 36%, rgba(255,255,255,0) 44%, var(--ghost-hover) 44%, var(--ghost-hover) 57%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 65%, var(--ghost-hover) 65%, var(--ghost-hover) 78%, rgba(255,255,255,0) 78%, rgba(255,255,255,0) 100%);
    width: 1rem;
    height: 1.5rem;
    position: absolute;
    left: -.75rem;
    right: 0;
    top: 50%;
    transform: translateX(50%);
    z-index: 1;
}

/* makes the fancy red highlight on table to show the column is being resized */
.isResizing {
    background: red;
}

/* ensures input box is not larger than the column width */
.input-search-box {
    width: 100%;
}
