@import '../components/Defaults.css';

.work-order-details {
    /* background: var(--ghost); */
}

.workorder-container {
    display: grid;
    width: calc(100vw - var(--padding) - 4rem);
    height: calc(100vh - var(--padding) - 4rem);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 30vh 30vh 15vh 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem;
}

.workorder-header {
    grid-row: 1;
    grid-column: 1/-1;
}

.workorder-header-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
        align-self: start;

}

.workorder-header-primary {
    display: inline-block;
    grid-column: 1;
    grid-row: 1/-1;
    height: 100%;

    /* tiny reset */

    padding: var(--padding-tiny);
    padding-top: calc(2px + var(--padding-tiny));

    padding: 0;
    margin: 0;

    align-self: start;
        /* background: var(--ghost); */
    /* background: var(--identify-me); */
}

.align-right {
    padding: 0;
    margin: 0;
    text-align: right;
}

.workorder-header-secondary {
    display: inline-block;
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: 100%;
    padding: var(--padding-tiny);
    padding-top: calc(2px + var(--padding-tiny));
        align-self: start;

    /* background: var(--ghost); */
}

/* This is to fix the dopiest little misalignment
that nobody but me would ever notice and
it's driving me mad. */

.workorder-header-primary > h3,
.workorder-header-secondary > h3,
.align-right > h3 {
    padding: var(--padding-tiny);
    padding-top: calc(3px + var(--padding-tiny));
}



.workorder-video {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: -1;
}

.workorder-video-label {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
    align-self: start;
}

.workorder-details {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: -1;
}

.workorder-details-label {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
}

.workorder-details-inner-container {
    display: grid;
    border: 1px solid var(--quiet);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.workorder-details-inner-container div {
    margin: 0;
    padding: var(--padding);
}

.details-data {
    border-radius: 0;
    /* border-bottom: 1px solid var(--quiet); */
    height: 100%;
    grid-row: 1;
    grid-column: 1;
}

.details-status {
    border-radius: 0;
    border-left: 1px solid var(--quiet);
    height: 100%;
    grid-row: 3;
    grid-column: 2/-1;
}

.details-date {
    border-radius: 0;
    border-left: 1px solid var(--quiet);
    border-bottom: 1px solid var(--quiet);
    grid-row: 1;
    grid-column: 2;
}

.details-location {
    border-radius: 0;
    border-left: 1px solid var(--quiet);
    border-bottom: 1px solid var(--quiet);
    grid-row: 1;
    grid-column: 3;
}

.details-pilot {
    border-radius: 0;
    border-left: 1px solid var(--quiet);
    border-bottom: 1px solid var(--quiet);
    grid-row: 2;
    grid-column: 2;
}

.details-flight {
    border-radius: 0;
    border-left: 1px solid var(--quiet);
    border-bottom: 1px solid var(--quiet);
    grid-row: 2;
    grid-column: 3;
}

.workorder-map {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: -1;
}

.workorder-map-label {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
}

.workorder-nav {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: -1;
    padding-bottom: 5rem; /* this is just to prevent the page from crashing into the bottom */
}
