.console-container {
    display:grid;
    grid-template-columns: 25vw 25vw 50vw;
    grid-template-rows: 40px 25vw 700px 40px;
    grid-gap: 20px;
    position: relative;
}

.console-user-info {
    grid-row: 1;
    grid-column: span 2;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;

}

.console-flight-time {
    grid-row: 1;
    grid-column: 3;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}

.console-orientation{
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
    text-align: c;
}

.console-flightplan {
    grid-row: 3;
    grid-column: 2;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}

.console-video-feed {
    height: 100%;
    grid-row: 2;
    grid-column: 3;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}

.console-horizon {
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
    overflow: hidden;
}

.console-telemetry {
    grid-row: 3;
    grid-column: 1;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
    overflow-wrap: break-word;
    overflow: scroll;
}    

.console-controls {
    grid-row: 3;
    grid-column: 3;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
    overflow: scroll;
}

.console-drone-status {
    grid-row: 4;
    grid-column: span 3;
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}

